body {
    background-color: #bcddb6;
}

.card {
    min-height: 38vh;
    padding: 15px;
}
 #rodape {
    background-color: #a5da9c;
    border: 1px solid #90ce85;
    border-radius: 15px;
 }

 iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
 }